{% extends  "layout.html" %}
{% block  content %}

{% if errormessage %}
 <p class="text-danger"> an error has occured in the form</p>
{% endif %}

<form class="text-center" action="" method="POST">
<div class="form-group">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control"><br><br>
        <div>

        <label for="email">Email address</label>
        <input type="text" id="courseDate" name="courseDate" class="form-control"><br><br>
        
        <label for="location">Location</label>
        <br>
        <select name="locationID" id="locationID">
          <option value="1">Belfast</option>
        </select><br><br>        

        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control"><br><br>
        
        <label for="trainerNames">Training names</label>
        <input type="text" id="trainerNames" name="trainerNames" class="form-control"><br><br>
        
        <label for="attendeesInfo">Info about attendees</label>
        <input type="text" id="attendeesInfo" name="attendeesInfo" class="form-control"><br><br>
        
        <label for="courseDuration">Duration of the course</label>
        <input type="text" id="courseDuration" name="courseDuration" class="form-control"><br><br>

        <input type="submit" class="btn btn-dark" value="Submit">
  <div class="form-group">
  </form>
{% endblock %}