{% extends  "layout.html" %}
{% block  content %}

<h1 class="display-2 text-center">Create a course</h1>

{% if errormessage %}
 <p class="text-danger"> errormessage </p>
{% endif %}

<form action="" method="POST">
<div class="form-group">

        <div class="form-group">
          <label class="label label-default" for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control">
        <div>

        <label class="label label-default" for="email">Course Date</label>
        <input type="date" id="courseDate" name="courseDate" class="form-control">
        
        <label class="label label-default"  for="location">Location</label>
        <br>
        <select class="custom-select" name="locationID" id="locationID">
          <option selected>Open this select menu</option>
          <option value="1">Belfast</option>
        </select> 

        <label class="label label-default"  for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control">
        
        <label class="label label-default"  for="trainerNames">Training names</label>
        <input type="text" id="trainerNames" name="trainerNames" class="form-control">
        
        <label class="label label-default"  for="attendeesInfo">Info about attendees</label>
        <input type="text" id="attendeesInfo" name="attendeesInfo" class="form-control">
        
        <label class="label label-default"  for="courseDuration">Duration of the course</label>
        <input type="time" step="1" id="courseDuration" name="courseDuration" class="form-control">  
  </div>
      <div class="text-center mt-4">
        <input type="submit" class="btn btn-dark btn-lg" value="Submit">
      </div>
  </form>
{% endblock %}