{% extends  "layout.html" %}

{% block title %}
{{course.courseName}}
{% endblock %}

{% block header %}
{{course.courseName}}
{% endblock %}

{% block  content %}
<h2>Date</h2>
<p class="lead">{{course.courseDate}}</p>

<h2>Location</h2>
<p class="lead">{{course.courseLocation}}</p>

<h2>Description</h2>
<p class="lead">{{course.description}}</p>

<h2>Name of Trainers</h2>
<p class="lead">{{course.trainerNames}}<p>

<h2>Who should attend?</h2>
<p class="lead">{{course.attendeesInfo}}<p>

<h2>Course Duration</h2>
<p class="lead">{{course.courseDuration.slice(0,-3)}}</p>
{% endblock %}