{% extends  "layout.html" %}

{% block title %}
{# {{course.courseName}} #}
Course Name
{% endblock %}

{% block header %}
Course Name
{% endblock %}

{% block  content %}
<h2>Date</h2>
<p>01/12/2020</p>

<h2>Location</h2>
<p>Belfast</p>

<h2>Description</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque quam vitae gravida hendrerit. Phasellus eu nulla sit amet orci blandit volutpat. Nullam sagittis placerat malesuada. Integer mattis tellus sed arcu dictum maximus. In tincidunt ligula a massa sodales, nec luctus nunc pretium. Curabitur eu mauris iaculis, feugiat justo id, eleifend erat. Praesent consectetur lacus eu metus lacinia, quis varius arcu maximus. Vestibulum porta arcu sit amet justo molestie venenatis. Suspendisse at tellus in leo rutrum pretium eget nec turpis. In ultricies, dui at sagittis ullamcorper, tortor felis cursus risus, sit amet eleifend felis justo non tellus. Aliquam sed elit vehicula, aliquet lectus id, ultrices purus. Vivamus imperdiet neque ante, eu placerat lacus pellentesque quis. Praesent vel velit nec dolor congue venenatis. Cras elit nibh, maximus non lacinia pulvinar, porttitor at nisl.</p>

<h2>Name of Trainers</h2>
<p>John Doe, Jill Smith<p>

<h2>Who should attend?</h2>
<p>Proin placerat, urna eu elementum eleifend, massa purus convallis orci, vel fermentum nunc tortor ac nunc. Morbi accumsan erat non nunc efficitur dignissim. Quisque ultrices ex eget efficitur pretium. Vestibulum suscipit sapien et facilisis efficitur. Vestibulum vestibulum, sem at porttitor convallis, libero purus consequat augue, id luctus est velit id ante. Morbi sed luctus urna. Proin consectetur tempus nisi, at porta nulla molestie a. Duis vehicula neque ac tempus condimentum.</p>

<h2>Course Duration</h2>
<p>1 hour<p>
{% endblock %}